<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dyccryptowallet">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DYCCryptoWallet"
        tools:targetApi="31">
        <activity
            android:name=".SentPages.TokenSendTo_Activity"
            android:exported="false" />
        <activity
            android:name=".HomePage.MainMenu_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.SuccessPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.ConfirmSeedPhrase_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.WriteDownSeedPhrase_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.SecureWalletWithSeedPhrase_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.SecureWallet_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.newWallet_Activity"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.ImportFromSeed_Activity"
            android:exported="false" />
        <activity
            android:name=".Starting.StartingPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>